@import url('https://fonts.googleapis.com/css?family=Cardo');
@import url('https://fonts.googleapis.com/css?family=Athiti');

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

:root {
    --text: #1C1C14;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Athiti";
}

h1,
h2,
h3,
h4 {
    font-family: "Cardo";
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #E5E3D6;
    }
}