@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_extra_light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_light.ttf");
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_medium.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_semi_bold.ttf");
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: Athiti;
    src: url("fonts/athiti_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Cardo;
    src: url("fonts/cardo_regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Cardo;
    src: url("fonts/cardo_bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Cardo;
    src: url("fonts/cardo_italic.ttf");
    font-weight: normal;
    font-style: italic;
}

html,
body {
    width: 100%;
    margin: 0px;
    padding: 0px;
}

:root {
    --text: #1C1C14;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Athiti";
}

h1,
h2,
h3,
h4 {
    font-family: "Cardo";
}

@media (prefers-color-scheme: dark) {
    :root {
        --text: #E5E3D6;
    }
}